/* YOUR CUSTOM STYLES */

.view {
    background: url("../img/background/background2.jpg")no-repeat center center;
    background-size: cover;
}
@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}
.navbar {
    z-index: 1;
}
.navbar {
    background-color: transparent;
} 
.top-nav-collapse {
    background-color: #1a6600;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1a6600;
    }
}

footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #1a6600;
  color: #fff; }
  footer.page-footer .container-fluid {
    width: auto; }
  footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 0.9rem; }
  footer.page-footer a {
    color: #fff; }
  footer.page-footer .title {
    text-transform: uppercase; }
  footer.page-footer .call-to-action {
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: 0.5rem; }
    footer.page-footer .call-to-action ul li {
      display: inline-block;
      padding-right: 10px; }
  footer.page-footer .social-section ul li {
    display: inline-block; }
  footer.page-footer .social-section ul a {
    margin-left: 0;
    padding-left: 0; }
  footer.page-footer ul {
    list-style-type: none;
    padding: 0; }

@font-face {
  font-family: "Epifania";
  src: url("../font/epifania/Epifania.ttf") format("truetype");
  font-weight: 700;
}

.epifaniaNW{
  font-family: "Epifania";
  font-size: 250%;
}

.epifaniaMenu{
  font-family: "Epifania";
  font-size: 110%;
}

.epifaniaTxt{
  font-family: "Epifania";
  font-size: 200%;
}

.epifaniaCard p{
  font-family: "Epifania";
  font-size: 120%;
}

.epifaniaCard h4{
  font-family: "Epifania";
  font-size: 160%;
}

.cardTaille{
  max-height: 30%;
}

.color1{
  background-color: #1a6600;
}

.overlayJS {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}